In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv(r"C:\Users\HP\Downloads\archive (1)\IRIS.csv")

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.shape

(150, 5)

In [5]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
iris['species']=iris['species'].astype("category")
iris['species']=iris['species'].cat.codes

In [7]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [8]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int8
dtypes: float64(4), int8(1)
memory usage: 5.0 KB

In [9]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
x=iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y=iris[['species']]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
123           6.3          2.7           4.9          1.8
32            5.2          4.1           1.5          0.1
4             5.0          3.6           1.4          0.2
80            5.5          2.4           3.8          1.1
17            5.1          3.5           1.4          0.3
..            ...          ...           ...          ...
121           5.6          2.8           4.9          2.0
64            5.6          2.9           3.6          1.3
54            6.5          2.8           4.6          1.5
25            5.0          3.0           1.6          0.2
62            6.0          2.2           4.0          1.0

[120 rows x 4 columns]

In [14]:
x_train.shape

(120, 4)

In [15]:
y_train

     species
123        2
32         0
4          0
80         1
17         0
..       ...
121        2
64         1
54         1
25         0
62         1

[120 rows x 1 columns]

In [16]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
44            5.1          3.8           1.9          0.4
58            6.6          2.9           4.6          1.3
112           6.8          3.0           5.5          2.1
34            4.9          3.1           1.5          0.1
12            4.8          3.0           1.4          0.1
132           6.4          2.8           5.6          2.2
100           6.3          3.3           6.0          2.5
57            4.9          2.4           3.3          1.0
70            5.9          3.2           4.8          1.8
148           6.2          3.4           5.4          2.3
42            4.4          3.2           1.3          0.2
29            4.7          3.2           1.6          0.2
127           6.1          3.0           4.9          1.8
83            6.0          2.7           5.1          1.6
94            5.6          2.7           4.2          1.3
33            5.5          4.2           1.4          0.2
22            4.6          3.6           1.0          0.2
11            4.8          3.4           1.6          0.2
137           6.4          3.1           5.5          1.8
13            4.3          3.0           1.1          0.1
92            5.8          2.6           4.0          1.2
60            5.0          2.0           3.5          1.0
145           6.7          3.0           5.2          2.3
131           7.9          3.8           6.4          2.0
128           6.4          2.8           5.6          2.1
122           7.7          2.8           6.7          2.0
16            5.4          3.9           1.3          0.4
126           6.2          2.8           4.8          1.8
23            5.1          3.3           1.7          0.5
0             5.1          3.5           1.4          0.2

In [17]:
y_test

     species
44         0
58         1
112        2
34         0
12         0
132        2
100        2
57         1
70         1
148        2
42         0
29         0
127        2
83         1
94         1
33         0
22         0
11         0
137        2
13         0
92         1
60         1
145        2
131        2
128        2
122        2
16         0
126        2
23         0
0          0

In [18]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [19]:
model.predict(x_test)

array([0, 1, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 1, 0, 0, 0, 2, 0, 1, 1,
       2, 2, 2, 2, 0, 2, 0, 0], dtype=int8)

In [20]:
model.score(x_test, y_test)

0.9

In [21]:
model.score(x_train, y_train)

1.0